# Python
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Django
*.log
local_settings.py

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Node.js
node_modules/

# Static files
staticfiles/

# Migrations
migrations/*
!migrations/__init__.py